@{
    ViewBag.Title = "About";
    ViewBag.description = "about page.";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<div style="margin: 11px;">
    <p>@Html.ActionLink("mesgaranties.fr","Index","Home")  tout droit réservé a M. ZIENTEK Christoph et M. ZIENTEK Lucas.</p>
    <p>
        Site créé par <a href="http://lucas.zientek.fr/">Lucas ZIENTEK</a>.
    </p>
</div>

