@model IEnumerable<MesGaranties.Core.Models.Garantie>

@{
    ViewBag.Title = "Index";
}

<h1>Mes garanties</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@foreach (var garantie in Model) {
    @Html.Partial("GarantieSmallPartial",garantie)
}

