@{
    ViewBag.Title = "About";
    ViewBag.description = "about page.";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<div style="margin: 11px;">
    Site créé par <a href="http://lucas.zientek.fr/">Lucas ZIENTEK</a>.
</div>

