@{
    ViewBag.Title = "Contact";
    ViewBag.description = "Page contact de mes garanties.";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>


<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="text-success">Dev / Support:</span><br/>
        <span><a href="mailto:lucas.zien+mg@gmail.com">lucas.zien+mg@gmail.com</a></span>
    </p>
    <p>
        <span class="text-success">General:</span><br />
        <span><a href="mailto:christoph@zientek.fr">christoph@zientek.fr</a></span>
    </p>
</section>
