@{
    ViewBag.Title = "Contact";
    ViewBag.description = "page contact de dans tes commentaires.";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>


<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span><br/>
        <span><a href="mailto:Support@danstes.com">Support@danstes.com</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span><br />
        <span><a href="mailto:Marketing@danstes.com">Marketing@danstes.com</a></span>
    </p>
    <p>
        <span class="label">General:</span><br />
        <span><a href="mailto:General@danstes.com">General@danstes.com</a></span>
    </p>
</section>
